@import '../abstract/variaves';

@media screen and (max-width: 428px){
    .title__container{
        .title{
            h1{
            font-size: 2.2rem;
            font-weight: 700; 
            margin-bottom:1rem; 
            text-transform: capitalize;  
            }
        } 
    }
}