@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Inter:wght@400;700&family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');


//fontes
$fonte-inconsolata: 'Inconsolata', monospace;
$fonte-inter-sans-serif: 'Inter', sans-serif;
$fonte-lora:'Lora', serif;

//cores

$cor-roxa: #9945d9;
$cor-cinza-subtitulo: #adadad;
$cor-titulo: #303030;
$cor-placeholder: #f4f4f4;
$cor-texto: #555555;

//cores dark mode 
$cor-background-escura: black;
$cor-fonte-clara: white;
$cor-background-escura-placeholder: rgb(28, 28, 28);